body {
  background:#6b6b69;
  color:white;
}

#grid div {
  position:relative;
  height: 200px;
  width: 200px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0;
}

#grid {
  width:614px;
  height:614px;
  background:darkgrey;
  border:5px solid black;
  margin:auto;
}

#images {
  width: 100%;
  display: block;
  align-items: center;
  border: 3px solid gray;
  min-height: 200px;
}

img {
  height: 200px;
  width: 200px;
}

.card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: inline-block;
}

#start-button{

}

h3{

}

